<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Publicaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button *ngFor="let publicacion of lstPublicaciones">
      <ion-label>
        <p>{{ publicacion.pub_titulo }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content loadingText="Por favor espere..."
      loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>